.response-div{
    border-radius: 8px;
    border: 1px solid #9B9B9B !important;
    background: #FFFFFFFF;
    padding:30px;
    margin-top: 20px;
    font-family: Nunito Sans, sans-serif !important;
    font-size:16px;

}
.mood-heading{
    font-family: Nunito Sans, sans-serif !important;
    font-size:18px;
    font-weight:bold;

}
.face-img{
    width:25vw;
    height:25vh;
}