.css-ahj2mt-MuiTypography-root {
    padding: 0.53vw !important;
}

.form-controls {
    margin-left: 12px;
}

.label-radio {
    padding: 12px;
}

.label-padding {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .label-radio {
        padding: 10px;
    }
}