.profile-pic-img{
    border-radius:50%;
    margin-top:15px;
    height:80px;
    width:80px;
}
.heading-bar{
    height:100px;
    width:100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    margin-left: 20px;
}