.sidebar{
    background: #171742;
    height: 100vh;
    width: 150px;
    border-radius:0 30px 30px 0;
    text-align: center !important;
}
.top_section{
    display: flex;
    padding:20px 15px;
}
.link:hover{
    background: #1c6f98;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon-img, .link_text{
    font-size: 20px;
    padding:30px;
}
.icon-img:hover{
    background-color: #2d2d67;
    border-radius: 25px;
}
.icon-center{
    margin-top:50%;
}
.sign-out-de{
    color: #ffffff;
    margin-top: 40%;
    font-size:26px;
    position: absolute;
    bottom: 4%;
    left: 22px;
}
