@font-face {
    font-family: "lato-Thin";
    src: local("GoldmanBold"),
    url("../../assets/font/Lato-Thin.ttf") format("truetype");
}
.title-align-preferences{
    margin-top:20px;
    text-align: center;
    font-family: "lato-bold" !important;
    font-style: normal;
    font-size: 25px;
    font-weight: 700;
    margin-bottom:0 !important;

}

.description-para{
    font-family: "lato-Thin" !important;
    font-size:20px;
    line-height:25px;
    font-weight:600;
}

.pre-size {
    width: 20px;
}
.pre-selection-btn{
    font-size:13px;
    border: 0.5px solid #171742 !important;

}
.pre-btn-bord{
    border-radius:0 0 0 0 !important;
}
.nav-link {
 color: #000000 ;
}